.Aboutsection {
  background-color: #ffebbb;
  margin-bottom: auto;
  display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto 1fr;
    gap: 5px;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.Aboutsection h2 {
    font: 'Dosis', sans-serif;
    color: #5f2277;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-size: 50px;
}

.Aboutsection-grid {
  display: contents;
}

.Aboutsection-img-container {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  margin: 0;
}

.Aboutsection-img {
  width: 40%;
  height: auto;
  border-radius: 70%;
  margin-left: 40%;
}

.Aboutsection-text {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
  display: flex;
  align-items: left;
  justify-content: left;
  margin-right: 20%;
  padding: 0;
}

.Aboutsection-text p {
  font-family: 'Kalam', sans-serif;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #58206e;
  text-align: left;
}

/* Media queries for responsiveness */
@media (max-width: 428px) {

  .Aboutsection-grid {
    flex-direction: column;
    align-items: center;
}

  .Aboutsection h2 {
    font-size: 30px;
  }

  .Aboutsection-img-container {
    order: 1; /* Ensure the image comes after the h2 */
  }

  .Aboutsection-img {
    width: 60%;
    margin-left: 10px;
    margin-top: 0;
  } 

  .Aboutsection-text {
    order: 2; /* Ensure the text comes after the image */
  }

  .Aboutsection-text {
    margin-right: 30px;
    margin-left: 10px;
  }

  .Aboutsection-text p {
    font-size: 15px;
  }
}